<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Musicianship Resources – Horton School of Music – Charleston Southern University</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
	<link href='http://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="index.html">Musicianship Resources</a></h1>
        <p></p>

        <p class="view"><a href="https://github.com/kshaffer/musicianshipResources">View the Project on GitHub <small>kshaffer/musicianshipResources</small></a></p>


        <ul>
          <li><a href="https://github.com/kshaffer/musicianshipResources/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/kshaffer/musicianshipResources/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/kshaffer/musicianshipResources">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>

      <section>  
  {{ content }}
      </section>
  
      <footer>
		<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by-sa/3.0/88x31.png" /></a><br />All contents on this site, unless otherwise stated, are copyright 2012 by Kris P. Shaffer and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-ShareAlike 3.0 Unported License</a>.
        <p><small>This project is maintained by <a href="https://github.com/kshaffer">kshaffer</a></small></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-39541792-2', 'github.com');
      ga('send', 'pageview');

    </script>    
  </body>
</html>
